.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

/* ===== Custom Sidebar Positioning ===== */
.sidebar {
    position: fixed;
    left: 0;
    bottom: 10%;
    width: 250px;
    transform: translateY(50%);
    margin-top: -50%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }

h1 {
scroll-margin-top: 100px; /* 根据页眉的高度调整 */
}