---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    <div class="sidebar">
      {% if site.author.navigation %}
        <nav>
          <h2>导航栏</h2>
          <ul>
            {% for item in site.author.navigation %}
              <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>

    {% include scripts.html %}

  </body>
</html>
